!!!
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(src='http://maps.googleapis.com/maps/api/js?sensor=false')
    script(src='/javascripts/lib/underscore-min.js')
    script(src='/javascripts/lib/pubsub.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/gmap.js')
    script(src='/javascripts/lib/jquery.ui.widget.js')
    script(src='/javascripts/lib/jquery.notify.min.js')
    script(src='/javascripts/houdini.js')
    script(src='/javascripts/chatbox.js')
    script(src='/javascripts/client.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.notify.css')
    link(rel='stylesheet', href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css")
  body
    div#fb-root

    - if (everyauth.loggedIn)
      p Hello #{everyauth.facebook.user.name}
    - else 
      div#facebook_login
        div#fb-login.fb_button(style='float:left; background-position: left -188px')                
          a.fb_button_medium(href='/auth/facebook')
            span#fb_login_text.fb_button_text Connect with Facebook

  body!=body
  
  div#notify-container(style="top:auto; left:0; bottom:0; margin:0 0 10px 10px")
    div#template
      a.ui-notify-cross.ui-notify-close(href="#")x
      div.picture \#{picture}
      h1 \#{title}
      p \#{text}

  script(src='/javascripts/facebook.js')
